{{!-- it is for add product form
enctype is for file sharing to server --}}
<section>
    <div class="container mt-3">
        <h2>Add product</h2>
        <form action="/admin/add-product" enctype="multipart/form-data" method="post">
            <div class="form-group mt-3">
                <label for="email">Product Name:</label>
                <input type="text" class="form-control" id="email" placeholder="Enter Name of the product" name="name">
            </div>
            {{!-- <h5>Choose category</h5>
            <div class="row ml-1 mt-1">
                <div class="dropdown">
                    <button type="button" class="btn btn-body dropdown-toggle" data-toggle="dropdown">
                        Category
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
            </div> --}}


            <div class="form-group mt-2">
                <label for="pwd">Price:</label>
                <input type="text" class="form-control" id="price" placeholder="Enter Price" name="price">
            </div>
            <div class="form-group">
                <label for="pwd">Details:</label>
                <input type="text" class="form-control" id="det" placeholder="Enter Details" name="det">
            </div>

            <div class="form-group">
                <label for="exampleFormControlFile1">CHOOSE THE IMAGE</label>
                <input type="file" name="image" class="form-control-file mt-1" id="exampleFormControlFile1">
            </div>


            <button type="submit" class="btn btn-primary">ADD</button>
        </form>
    </div>
</section>