<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">USERS</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">TOTAL USERS</h5>
                        <center><p class="card-text" style="font-size: 43px;">{{productcount}}</p></center>
                    </div>
                    <a href="#"><div class="card-footer bg-transparent border-success">VIEW USERS</div></a>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">CATEGORIES</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">TOTAL CATEGORIES</h5>
                        <p class="card-text">{{categorycount}}</p>
                    </div>
                    <a href="#"><div class="card-footer bg-transparent border-success">VIEW CATEGORIES</div></a>
                    

                </div>
            </div>
            
            <div class="col-md-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">PRODUCTS</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">TOTAL PRODUCTS</h5>
                        <center><p class="card-text" style="font-size: 43px;">{{productcount}}</p></center>
                    </div>
                    <a href="#"><div class="card-footer bg-transparent border-success">VIEW PRODUCTS</div></a>
                </div>

                

            </div>
            <div class="col-md-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">ORDERS</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">TOTAL ORDERS</h5>
                        <center><p class="card-text" style="font-size: 43px;">{{productcount}}</p></center>
                    </div>
                    <a href="#"><div class="card-footer bg-transparent border-success">VIEW ORDERS</div></a>
                    

                </div>
            </div>

        </div>
    </div>
</section>


                    