<section>
    <div class="container">
        <table class="table table-bordered mt-2">
            <div class="row mt-3">
              
                <a class="btn btn-success ml-auto m-3" href="/admin/add-category">Add Category</a>
            </div>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">CATEGORY</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                {{#each categorys}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.name}}</td>
                    <td><a href="/admin/edit-category/{{this._id}}" class="btn btn-primary">Edit</a></td>
                    <td><a href="/admin/delete-category/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you Sure want to delete ? {{this.name}}')">Delete</a></td>
                </tr>
                {{/each}}
                
            </tbody>
        </table>
    </div>
</section>