<section>
    <div class="container">
        <table class="table table-bordered mt-4">
            
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                    <td><a href="/admin/delete-user/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you Sure want to delete ? {{this.name}}')">Delete</a></td>
                </tr>
                {{/each}}
                
            </tbody>
        </table>
    </div>
</section>